version: '3.7'

services:

  db:
    image: mysql:8
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 12345678
    volumes:
      - ./.data:/var/lib/mysql
    ports:
      - 3306:3306
      
  postgres_db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 12345678
    volumes:
      - ././.pg_data:/var/lib/postgresql/data
    ports:
      - 5432:5432 
      
  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8080:80

  adminer:
    image: adminer
    restart: always
    ports:
      - 8090:8080
