.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
}

.addCard {
    margin: 0 0 40px 0;
    width: 300px;
    height: 100px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardsContainer img{
    width: 300px;
}

.cards {
    cursor: pointer;
    margin: 0 30px;
    width: 150px;
    height: 100px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
