.container {
    position: fixed;
    background-color: red;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.container a {
    text-decoration: none;
    color: black
}

.container a.activeLink {
    color: white
}
