.container {
    background-color: rgba(70, 172, 201, 0.67);
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.container a {
    font-size: 20px;
    text-decoration: none;
    color: black
}
.container i{
    margin-right: 5px;
}

.container a.activeLink {
    color: white;
}
