.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 100px;
}

.loginForm input{
    margin: 7px;
    padding:10px 15px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
}

.loginForm button{
    margin-top: 20px;
    width: 120px;
    border-radius: 5px;
    outline: none;
    border:1px solid gray;
    background-color: inherit;
    padding:10px 0;
    cursor: pointer;
    font-size: 20px;
}

.loginForm button i{
    font-size: 20px;
}

.loginForm button:hover{
    transition: 0.8s;
    background-color: gray;
    color:white;
}
