.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    flex-direction: column;
}

.task{
    margin-top: 30px;
    height: 100px;
    width: 600px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

